In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r'data\LumbrasGigaBase2025-06.db3')
cursor = conn.cursor()

query = "SELECT name FROM sqlite_master WHERE type='table';"

cursor.execute(query)

tables = cursor.fetchall()
print("Tables found: ", tables)

conn.close()

Tables found:  [('Info',), ('Events',), ('sqlite_sequence',), ('Sites',), ('Players',), ('Games',)]

In [4]:
conn = sqlite3.connect(r'data\LumbrasGigaBase2025-06.db3')
games = pd.read_sql_query("SELECT * FROM Games LIMIT 10;", conn)
players = pd.read_sql_query("SELECT * FROM Players WHERE Elo != 'None';", conn)

print(players)

conn.close()

Empty DataFrame
Columns: [ID, Name, Elo]
Index: []

In [3]:
conn = sqlite3.connect(r'data\LumbrasGigaBase2025-06.db3')

query = r"""
SELECT p1.Name AS white, p2.Name AS black, g.Result as result
FROM Games as g
JOIN Players as p1
ON p1.ID = g.WhiteID
JOIN Players as p2
ON p2.ID = g.BlackID;
"""

df = pd.read_sql_query(query, conn)

conn.close()

df

,white,black,result
0,Goring,NN,1-0
1,"Remusat, Claire","Napoleon, Bonaparte",0-1
2,"Napoleon, Bonaparte","Remusat, Claire",1-0
3,Neuhaus,Hipp,0-1
4,"Blackburne, Joseph","Schlechter, Carl",1/2-1/2
...,...,...,...
9570559,"Slizhevsky, Alexander",Om Nagnath Lamkane,1-0
9570560,"Torun, Kagan","Karabulut, Mustafa",1-0
9570561,"Diao, Matthew Guo","Zhuang, Kyle",0-1
9570562,"Amundsen, Ask","Thorisson, Benedikt",1/2-1/2
9570563,"Reis,Paulo F. Jatoba de Oliveira","De Meneses, Luiz Claudio Maia",1-0

In [13]:
hikaru_games = df[ (df['white'] == 'Nakamura, Hikaru') | (df['black'] == 'Nakamura, Hikaru') ]


hikaru_games

                        white                    black   result
876510       Spraggett, Grant         Nakamura, Hikaru      1-0
878234        Reuben, Stewart         Nakamura, Hikaru  1/2-1/2
886433   Khusnutdinov, Rustam         Nakamura, Hikaru      1-0
1090815      Nakamura, Hikaru  Resende, Antonio Carlos  1/2-1/2
1172882      Nakamura, Hikaru             Urday, Henry      0-1
...                       ...                      ...      ...
9569762      Nakamura, Hikaru                   Giri,A      1-0
9569763      Nakamura, Hikaru          Moussard, Jules      1-0
9569787      Nakamura, Hikaru        Mishra, Abhimanyu      1-0
9569789      Nakamura, Hikaru        Mishra, Abhimanyu      0-1
9570134      Nakamura, Hikaru         Rapport, Richard      1-0

[2737 rows x 3 columns]

In [12]:
conn = sqlite3.connect(r'data\LumbrasGigaBase2025-06.db3')

names = pd.read_sql_query("SELECT Name from Players;", conn)
conn.close()

print(names)

                         Name
0
1              't Hart, Joost
2               't Hart,Joost
3                           *
4         07_2007)-CHATURANGA
...                       ...
526515          Šulek, Viliam
526516        ŽemliÃ¨ka, VÃ◫t
526517          Žitnik, Urban
526518         Žlindra, Aljaž
526519  Ηasiotis, Polichronis

[526520 rows x 1 columns]

In [14]:
df.to_csv(r'data\all_matchups.csv', index = False)